body, .nav-link {
    background-color: black;
    color: white;
    font-family: Copperplate, "Copperplate Gothic Light"
}

a.nav-link:hover {
    color: lightslategray;
}

a.active {
    color: lightslategray;
}

.spacing {
    margin: 20px auto;
    text-align: center;
}

#about {  
    text-align: center;
    margin: 0% 2.5%;
}

#a1, #a2, #a3, #a4, #a5, #a6, #a7, #a8, #a9 {
    position: relative;
    display: block;
}

#fwrap, #jwrap, #mwrap, #owrap, #pwrap, #rwrap, #slwrap, #swrap, #wwrap {
    position: absolute;
    display: none;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color: white;
    text-decoration: none;
}