body, .nav-link {
    background-color: black;
    color: white;
    font-family: Copperplate, "Copperplate Gothic Light"
}

a.nav-link:hover {
    color: lightslategray;
}

a.active {
    color: lightslategray;
}

.spacing {
    margin: 20px auto;
}

#title {
    text-align: center;
}

#aboutimg {
    position: relative;
}

#about {
    position: absolute;
    margin-top: 0%;
    margin-left: 5%;
    max-width: 250px;
    text-align: left;
}

#guitar {
    position: absolute;
}