<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <h1>Hello movies!</h1>

    <% for (let i = 0; i < results.length; i++) { %>
      <div class="media">
        <div class="media-left media-middle">
          <a href="#">
            <img class="media-object" src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/<%= results[i].poster_path %>" alt="...">
          </a>
        </div>
        <div class="media-body">
          <a href="http://localhost:8080/movie/<%= results[i].id %>"><h4 class="media-heading"><p><%= results[i].title %></p></h4></a>
          <p><%= results[i].overview %></p>
        </div>
      </div> 
    <% }; %>

    

  </body>
</html>